body {text-align:center;padding:0px;margin:0;color:#2c3e50;font-weight:bold;background:url(../images/background-brown.png);background-attachment:fixed;}
#wrapper{width:572px;text-align:left;margin:0 auto;padding:20px 0 0 0;}
#header{height:40px;padding:10px 0;margin:0 0 60px 0;border-radius:6px;}
#header a{color:#2c3e50;}
#header a:hover{text-decoration:none;}
#header h1{font-size:42px;}
#header h1{text-decoration:none;color:#c0392b;text-shadow:1px 1px 2px #666666;margin-left:5px;}
#content-wrapper{}
#content{text-align:left;margin:0 auto;padding:0 30px;margin-left:-3px;background:url(../images/notebook-background.png);;width:514px;}
#before-content{background:url(../images/notebook-top.png);height:64px;width:572px;}
#after-content{background:url(../images/notebook-bottom.png);height:35px;width:572px;}
.ui-autocomplete{text-align:left;}
.content_title_container{text-align:center;height:17px;margin:20px 0 10px 0;width:100%;}
.content_title{color:#2c3e50;font-size:15px;font-weight:bold;border-bottom:1px dotted #333;padding:3px 5px;}
.credit{text-align:center;margin:20px;font-size:12px;border-top:1px solid #7f8c8d;}
#content table td{border-top:none;}
#myTab a{color:#34495e;}
.tab-content{min-height:300px;}
#requisition-area{margin:0px 0 40px 0;padding:0px;}
#user-area{float:right;margin-top:10px;}
#tags{border:1px solid #999;}
#quantity{border:1px solid #999;}
#credit{text-align:center;margin-top:10px;line-height:20px;font-size:12px;border-top:1px solid #7f8c8d;color:#666;}
