.row_checked_bg{background:#95a5a6;color:#f0f0f0;font-weight:bold;border-radius:1px;}
.row_checked_bg a{color:#f0f0f0;}
.content_title_container{text-align:center;height:17px;margin:0 0 30px 0;width:100%;}
.content_title{color:#52544E;font-size:25px;font-weight:bold;}
body
{
	margin: 20px;
	padding: 0px;
	background: #FFF;
	font-family: trebuchet ms, verdana, arial, helvetica, sans-serif;
	font-size: 80%;
	color: #52543D;
}

a:active, a:visited, a:link
{
	color: #000;
	text-decoration: none;
}

a:hover
{
	color: #4F3A31;
	text-decoration: none;
}

#container
{
	margin: 0px auto;
	width: 1024px;
}

#header
{
	width: 1024px;
	height: 120px;
	border:1px solid #9F9F71;
	background: #FAFAF8 url('../images/header.jpg');
	border-bottom: 0px;
}

#menu
{
	//width: 1024px;
	padding: 5px 10px;
	border:1px solid #9F9F71;
	margin-bottom: 10px;
	text-align: right;
	background: #FAFAF8;
}

#container2
{
	border:1px solid #9F9F71;
	background: #FAFAF8;
}

#content
{
	width: 1024px;
	/*height: 350px;*/
	line-height: 150%;
	padding:20px 0 0 0;
}

#content h2
{
	border-bottom: 1px dashed #808080;
	font-family: arial;
	font-weight: 100;
	padding: 10px 0px;
	letter-spacing: 8px;
	font-size: 175%;
}

.overflows
{
	overflow: auto;
	width: 1024px;
	height: 350px; 
}

#textpadding
{
	padding: 1px 10px;
}

#footer
{
	padding: 5px 10px;
	border:1px solid #9F9F71;
	margin-top: 10px;
	text-align: right;
	background: #FAFAF8;
}