<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="DataContext" connectionString="metadata=res://*/DataContext.csdl|res://*/DataContext.ssdl|res://*/DataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.10.2.111;Initial Catalog=LogicUniversityDB_Team9;User ID=team9;Password=team9;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DataContext" connectionString="metadata=res://*/DataContext.csdl|res://*/DataContext.ssdl|res://*/DataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=LogicUniversityDB_Team9;User ID=team9;Password=team9;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DataContext" connectionString="metadata=res://*/DataContext.csdl|res://*/DataContext.ssdl|res://*/DataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=LogicUniversityDB_Team9;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>